*{
    margin: 0;
    padding: 0;
}

.bg{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.cd{
    color: greenyellow;
    font-size: 3rem;
}